body {
  font: 15px/1.5  "Titillium Web","Open Sans", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #222222;
  letter-spacing: .5px;
}

/* --- BODY --- */

#mainhead {
    margin: 20px 50px 20px 50px;
    padding-top: 30px;
    border: none;
}

#headshot img {
    height: 500px;
    width: auto;
    border: 2px solid #2498b1;
    border-radius: 3px;
    box-shadow: none;
    padding: 20px;;
}

#mainheadtxt h3 {
    font-size: 45px;
    color: #134f5c;
    border: 2px solid #134f5c;
    border-radius: 3px;
    padding: 10px 0;
}

#mainheadtxt p {
    padding: 10px;
    border: 2px solid #134f5c;;
    border-radius: 3px;
    height: 380px;
    font-size: 20px;
}

#quote {
  clear: both;
  color: #134f5c;
  padding: 10px 0 10px 0;;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 2px solid #2498b1;
  border-radius: 3px;
}

.row {
    margin: 10px 20px 30px 10px;
    padding-bottom: 30px;
    border-bottom: 3px solid #134f5c;
}

.row img {
    height: 500px;
    width: 700px;
    padding: 20px;
    border: 2px solid #2498b1;
    border-radius: 3px;
}

#codecraftIMG {
    height: 50px;
    width: auto;
    border: none;
    padding: 0;
    margin-top: 20px;
}

.text {
    padding-left: 25px;
    border: 2px solid #134f5c;;
    border-radius: 3px;
    height: 500px;
}

h3 {
    color: #0a2b32;
    text-transform: uppercase;
    font-weight: bold;
}

.col-md-6 a {
    text-decoration: none;
    color: #2498b1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
